/* @import url("./node_modules/font-awesome/css/font-awesome.min.css"); */

:root {
  --background: #222;
  --background-textarea: #333;
  --background-input: #ccc;
  --text: #ccc;
  --text-alt: #222;
  --dropdown: #ffbd03;
  --input-width: 100%;
  --border-radius: 5px;
}

* {
  box-sizing: border-box; /* include padding in element width and height */
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 18px;
}

body {
  background-color: var(--background);
  color: var(--text);
  position: relative;
  margin: auto;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  line-height: 1.4rem;
}

textarea {
  display: block;
  height: 372px;
  width: 770px;
  margin: auto 15px;
  padding: 15px;
  resize: none;
  border-radius: var(--border-radius);
  background-color: var(--background-textarea);
  border-color: var(--background-textarea);
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}

select {
  background-color: var(--dropdown);
  border-radius: var(--border-radius);
  font-size: 16px;
  width: var(--input-width);
  height: 36px;
  border: none;
  padding: 5px;
}

input {
  background-color: var(--background-input);
  border-radius: var(--border-radius);
  font-size: 16px;
  width: var(--input-width);
  height: 36px;
  border: none;
  padding: 10px;
}

select:focus,
input:focus,
textarea:focus {
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

button {
  background-color: dodgerblue;
  border-radius: var(--border-radius);
  color: var(--text-alt);
  font-weight: 500;
  border: none;
  width: 100%;
  height: 40px;
}

img {
  height: 18px;
}

div {
  display: grid;
  column-gap: 15px;
  justify-items: center;
  height: 100px;
  padding: 15px;
}

div:first-of-type {
  grid-template-columns: repeat(3, 2fr) repeat(2, 1fr);
  align-items: end;
}

div:last-of-type {
  grid-template-columns: 8fr 1fr;
  align-items: center;
}
